.container {
  display: inline-block;
  position: relative;
}

.image {
  max-width: 100%;
  vertical-align: bottom;
}

.text {
  position: absolute;
  color: transparent;

  &::selection {
    background: #cceeff;
    color: #000000;
  }
}

.text-layer {
  position: absolute;
  inset: 0;
}
